* {
  border: 0;
  margin: 0;
  border: 0;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


:root {
  --light-blue: #409EFF;
  --light-orange: #FF671F;
  --light-yellow: #ffff00;
  --white: #ffffff;
  --black: #000000;
}

.full {
  width: 100%;
  height: 100%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.abCC {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.abLT {
  position: absolute;
  left: 0;
  top: 0;
}

.abRB {
  position: absolute;
  right: 0;
  bottom: 0;
}

.abLB {
  position: absolute;
  left: 0;
  bottom: 0;
}


/* 高度动画 */
@keyframes heightAni {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

/* 波浪晕染开 */
@keyframes wavesAni {
  0% {
    width: 128px;
    height: 128px;
    opacity: 0;
  }

  2% {
    opacity: 0.7;
  }

  100% {
    width: 160px;
    height: 160px;
    opacity: 0;
  }
}

@keyframes showToBtm {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes changeStatus {
  0% {
    background-color: var(--white);
    transform: scale(1);
  }

  69% {
    background-color: var(--white);
    transform: scale(0);
  }

  70% {
    background-color: var(--light-orange);
    transform: scale(0);
  }

  100% {
    background-color: var(--light-orange);
    transform: scale(1);
  }
}

@keyframes light {
  0% {
    box-shadow: 0 0 0 var(--white);
  }

  100% {
    box-shadow: 0 0 45px var(--white);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media screen and (min-width: 0) and (max-width: 768px) {
  body {
    background-color: #ff671f !important;
  }

  .el-loading-spinner .path {
    stroke: #ffffff !important;
  }
}